body, html {
  margin: 0px;
  padding: 0px;
}

.TopNavigation {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 25px;
  background-color: black;
}
.TopNavigation a {
  color: white;
  background-color: grey;
  padding: 5px;
  margin: 0px;
} 
.TopNavigation a:hover {
  color: black;
  background-color: white;
}

.HeaddingDiv {
  width: 100%;
  height: 300px;
  background-image: "/src/images/Lake.png"; 
  margin: 0px;
  padding: auto;
  align-items: center;
} .HeaddingDiv div {
  width: 230px;
  height: 150px;
  background-color: rgba(10, 10, 10, 50);
  margin: auto;
}
.HeaddingDiv h1 {
  font-size: 20px;
  color: white;
}
.HeaddingDiv p {
  font-size: 20px;
  color: white;  
}

.AboutAndTimelineDiv {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 400px;
  display: flex;
  background-image: "/src/images/Mountain.png";
} .AboutAndTimelineDiv:nth-child(even) {
  height: 400px;
  width: 50%;
  flex: 1;
  padding: 20px;
  margin: 0px;
  background-color: rgba(0, 0, 50, 50));
} .AboutAndTimeLineDiv:nth-child(odd) {
  height: 400px;
  width: 50%;
  flex: 1;
  margin: 0px;
  padding: 20px;
  background-color: rgba(50, 0, 0, 50);
}
.AboutAndTimelineDiv h2 {
  color: white;
}
.AboutAndTimelineDiv p {
  color: white;
}